<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <include file="$(find tf_transforms)/launch/static_transforms.launch" />
 <!--- Run AMCL --> 
   <node pkg="gmapping" type="slam_gmapping" name="gmapping">
     <remap from="scan" to="slamware_ros_sdk_server_node/scan" />
     <param name="xmin" value="10.0" />
     <param name="ymin" value="10.0" />
     <param name="xmax" value="10.0" />
     <param name="ymax" value="10.0" />
   </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find plugit_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find plugit_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find plugit_2dnav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find plugit_2dnav)/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find plugit_2dnav)/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch> 
